 .iconic-user-fields {
  a {
      margin-right: 5px;
      color: #48aef2;
  }
  a:visited {
    color: #48aef2;
  }
  a:hover {
    color: #48aef2;
    text-decoration: underline;
  }
  .fa {
      font-size: 1.2em;
   color: #{$icon-color};
  }
  .fa.d-icon.svg-icon.svg-string {
      margin-left: 0px;
  }
  li {
    display: flex;
  }
  li span {
    margin-right: 10px;
  }
}

.iconic-user-fields {
  list-style: none;
  padding: 0;
  margin: 5px 0 0 0;
}

#user-card {
  .card-content {
      padding-top: 31px;
  }
  .usercard-controls {
      margin-top: -19px;
  }
  &.no-bg .card-content {
      padding-top: 12px;
      margin-top: 19px;
  }
}

@media (prefers-color-scheme: dark) {

  .iconic-user-fields .fa {
    color: #{$icon-color-dark-mode};
  }
}
